<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YouTubePlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA364EF11EA415C800AD7E2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA364F0A1EA415C900AD7E2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA364F151EA415C900AD7E2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
